<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jason.jing.mapper.ResultMapper">
	<resultMap type="cn.jason.jing.domain.Result" id="ResultMap">
		<id property="id" column="id"/>
		<result property="resno" column="resno"/>
		<result property="str" column="str"/>
		<result property="value" column="value"/>
		<result property="result" column="result"/>			
	</resultMap>

	<insert id="InsertResult" parameterType="Result">
		insert into res(resno,str,value,result)
			values(#{resno},#{str},#{value},#{result})
	</insert>
	
	<select id="selectAllResult" resultType="Result">
		select * from res
	</select>
	
</mapper>